.card {
  background-color: grey;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  color: white;
}
img {
  margin: 0px;
  width: 100%;
  height: auto;
}
.details {
  margin: 10 px;
  padding: 10px;
  text-align: center;
  display: block;
}

.details summary{
  font-size: 12px;
  text-align: center;
}

.buttons {
  display: block;
}

.buttons button:focus, 
.buttons button:hover {
  background-color: grey;
}

.buttons button:active {
  background-color: grey;
}

.button[data-toggle-btn] {
  padding: 10px;
  font-size: 15px;
  display: block;
}

@media only screen and (max-width: 1200px){
  .wrapper {
    background-color: gray;
  }
}
